# ML_Modeling

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

In [2]:
import warnings
warnings.filterwarnings('ibgnore')
import dvc.api

In [5]:
import numpy as np
import pandas as pd
import scipy.stats as scs
import random
import math
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier 
from sklearn import metrics
from sklearn.model_selection import KFold
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image  
#import pydotplus
from sklearn import tree
import scipy.stats as stat
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.ensemble import GradientBoostingClassifier
#from helper import Helper

In [9]:
#import local modules
import Graphs
from Decision_tree import handler
from Decision_tree import DecisionTreesModel

from XGB import boost
from logistic_regression import Logistic

In [13]:
df= pd.read_csv("../data/AdSmartABdata.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   auction_id   428 non-null    object
 1   experiment   428 non-null    object
 2   date         428 non-null    object
 3   hour         428 non-null    int64
 4   device_make  428 non-null    object
 5   platform_os  428 non-null    int64
 6   browser      428 non-null    object
 7   yes          428 non-null    int64
 8   no           428 non-null    int64
dtypes: int64(4), object(5)
memory usage: 30.2+ KB

In [16]:
#Users who actually responded yes/no to the question of awareness
answered_df = df.copy(deep=True)
answered_df = answered_df[answered_df['yes'] == 1].append(answered_df[answered_df['no'] == 1])
answered_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
161,688aaac1-535e-417a-a8d4-a529b033cbfa,control,2020-07-04,3,iPhone,5,Mobile Safari,1,0
187,7c003bed-32c3-4236-abf0-f571debe769b,exposed,2020-07-05,3,iPhone,5,Mobile Safari,1,0
267,a73ec6ae-0524-459a-bdf8-5ab9f04c213c,control,2020-07-09,9,iPhone,5,Mobile Safari,1,0
383,e1614006-0540-4d1a-9bc7-d2f0d15d73ca,control,2020-07-09,5,iPhone,5,Mobile Safari,1,0
397,ec4c1cde-1e93-4b47-b5ea-9f31b8cc5295,control,2020-07-04,11,iPhone,5,Chrome Mobile iOS,1,0

In [51]:
df_1 = df[df['yes'] == 1].drop(['yes','no'], axis = 1)
df_1['response'] = 1
df_2 = df[df['no'] == 1].drop(['yes','no'], axis = 1)
df_2['response'] = 0
control_plot_df = df_1.append(df_2).reset_index(drop=True)
control_plot_df = control_plot_df.drop(columns = ['auction_id'], axis=1)
control_plot_df.head(5)

,experiment,date,hour,device_make,platform_os,browser,response
0,control,2020-07-04,3,iPhone,5,Mobile Safari,1
1,exposed,2020-07-05,3,iPhone,5,Mobile Safari,1
2,control,2020-07-09,9,iPhone,5,Mobile Safari,1
3,control,2020-07-09,5,iPhone,5,Mobile Safari,1
4,control,2020-07-04,11,iPhone,5,Chrome Mobile iOS,1

# Encoding and Transforming

In [63]:
def encode_labels(df):
    date_encoder = preprocessing.LabelEncoder()
    device_encoder = preprocessing.LabelEncoder()
    browser_encoder = preprocessing.LabelEncoder()
    experiment_encoder = preprocessing.LabelEncoder()
    response_encoder = preprocessing.LabelEncoder()
    
    df['date'] = date_encoder.fit_transform(control_plot_df['date'])
    df['device_make'] = device_encoder.fit_transform(control_plot_df['device_make'])
    df['browser'] = browser_encoder.fit_transform(control_plot_df['browser'])
    df['experiment'] = experiment_encoder.fit_transform(control_plot_df['experiment'])
    df['browser'] = response_encoder.fit_transform(control_plot_df['browser'])
    df['response'] = response_encoder.fit_transform(control_plot_df['response'])


    
    return df

## split the data to platform and browser based

In [64]:
def feature_data(control_plot_df):
    browser_df = control_plot_df[["experiment", "hour", "date", 'device_make', 'browser', 'response']]
    platfrom_df = control_plot_df[["experiment", "hour", "date", 'device_make', 'platform_os', 'response']]
                                  
    return browser_df, platfrom_df

In [65]:
def save_encoded_df(encoded_df):
    
    broweser_df, platfrom_df = feature_data(encoded_df)
    browser_df.to_csv('../data/browser.csv', index=False)
    platfrom_df.to_csv('../data/platform.csv', index=False)

In [66]:
encoded_df = encode_labels(control_plot_df)
save_encoded_df(encoded_df)

#### Platform

In [37]:
#reading from split data
df_platform= pd.read_csv("../data/AdSmartABdata.csv")
df_platform.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,004c8a83-1c0f-4a4a-ba9e-bc89e8c0c0c1,control,2020-07-10,13,iPhone,5,Mobile Safari,0,0
1,00d22463-2d1f-44de-8d67-11d6c6b96a00,exposed,2020-07-03,1,iPhone,5,Chrome Mobile iOS,0,0
2,00e4f247-b54b-4f95-a000-ec4645d5a692,control,2020-07-03,15,iPhone,5,Mobile Safari,0,0
3,01b04c3a-8107-4b53-8532-122ff003f900,control,2020-07-04,4,iPhone,5,Mobile Safari,0,0
4,0270f4d1-654e-42e9-afec-76963504ef45,control,2020-07-03,15,iPhone,5,Mobile Safari UI/WKWebView,0,0